<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

    <Properties>
        <Property name="LOG_PATH">${env:LOG_PATH:-./logs}</Property>
        <Property name="APP_NAME">ardms</Property>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
        <Property name="JSON_PATTERN">{"timestamp":"%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ}","level":"%level","thread":"%t","logger":"%logger","message":"%enc{%msg}{JSON}","exception":"%enc{%xEx}{JSON}"}%n</Property>
    </Properties>

    <Appenders>
        <!-- Console Appender -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- Application Log - Rolling File -->
        <RollingFile name="AppFileAppender"
                     fileName="${LOG_PATH}/${APP_NAME}-app.log"
                     filePattern="${LOG_PATH}/${APP_NAME}-app-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="50MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

        <!-- Error Log - Rolling File -->
        <RollingFile name="ErrorFileAppender"
                     fileName="${LOG_PATH}/${APP_NAME}-error.log"
                     filePattern="${LOG_PATH}/${APP_NAME}-error-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="20MB"/>
            </Policies>
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>

        <!-- Deployment/Audit Log - Rolling File -->
        <RollingFile name="DeploymentFileAppender"
                     fileName="${LOG_PATH}/${APP_NAME}-deployment.log"
                     filePattern="${LOG_PATH}/${APP_NAME}-deployment-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="50MB"/>
            </Policies>
            <DefaultRolloverStrategy max="60"/>
        </RollingFile>

        <!-- Security Audit Log -->
        <RollingFile name="SecurityFileAppender"
                     fileName="${LOG_PATH}/${APP_NAME}-security.log"
                     filePattern="${LOG_PATH}/${APP_NAME}-security-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="20MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Root Logger -->
        <Root level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="AppFileAppender"/>
            <AppenderRef ref="ErrorFileAppender"/>
        </Root>

        <!-- Application Logger -->
        <Logger name="com.ardms" level="DEBUG" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="AppFileAppender"/>
            <AppenderRef ref="ErrorFileAppender"/>
        </Logger>

        <!-- Deployment Logger -->
        <Logger name="com.ardms.deployment" level="INFO" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="DeploymentFileAppender"/>
            <AppenderRef ref="ErrorFileAppender"/>
        </Logger>

        <!-- Security Logger -->
        <Logger name="com.ardms.security" level="INFO" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="SecurityFileAppender"/>
            <AppenderRef ref="ErrorFileAppender"/>
        </Logger>

        <!-- Spring Framework -->
        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="AppFileAppender"/>
        </Logger>

        <!-- Hibernate SQL -->
        <Logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>

        <!-- Flyway -->
        <Logger name="org.flywaydb" level="INFO" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="AppFileAppender"/>
        </Logger>
    </Loggers>
</Configuration>
